<!DOCTYPE html>
<html ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>ToDo list</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as listCtrl">
    <h3>ToDo List</h3>

    <div class="form-inline">
      <label for="task"></label>
      <input type="text" ng-model="listCtrl.taskDescription" class="form-control" placeholder="Add a list item" style="width:200px" autofocus>
      <button id="submitTask" class="btn btn-default" ng-click="listCtrl.addNewTask()">Add Task</button>
    </div>

    <ul class="list-group" ng-repeat='task in listCtrl.taskList.tasks'>
      <li>
        Task: {{task.description}}, Completed: {{task.completed}}
      </li>
    </ul>

  </body>
</html>
